<!-- HEADER  -->
<header class="container-fluid">
  <nav class=" nav_header">

    <!-- Logo  -->
    <div class="logo" data-aos="fade-left" data-aos-duration="2000">
      <!-- <span class="nom_prenom">Anais. S.</span> -->
      <img src="assets/comS.jpg">
    </div>

    <!-- Icon menu  -->
    <div class="menu">
      <span class="material-icons" (click)="getShowMenu()">
        menu
      </span>
    </div>
  </nav>

  <!-- nav bar menu droit  -->
  <div class="menu_bar" [ngClass]="{'show': isShowMenu, 'fade_menu':!isShowMenu}">
    <div class="menu_close">
      <span class="material-icons" (click)="getShowMenu()">
        close
      </span>
    </div>
    <ul>
      <li>
        <!-- <a href="">
          <span class="nom_prenom">Anais. S.</span>
        </a> -->
      </li>
      <li>
        <a href="">Accueil</a>

      </li>
      <li>
        <a href="">Compétences</a>

      </li>
      <li>
        <a href="">Prix</a>

      </li>
      <li>
        <a href="">Testimonial</a>

      </li>
      <li>
        <a href="">Contact</a>

      </li>
    </ul>
  </div>
  <!-- fin nav bar menu droit -->
</header>
<!-- FIN HEADER  -->

<!-- section as formation -->

<section class="first">
  <!-- Landing  -->
  <div class="container landing">
    <h1 data-aos="fade-left" data-aos-duration="1500">
      <span class="c_premier">C</span>om'<span class="s_premier">S</span>orte
    </h1>
    <h3 data-aos="fade-right" data-aos-duration="1000">
      Votre institut de formation
    </h3>

    <!-- Buttons -->
    <div class="text-center text-md-center" >
      <a href="overview.html" class="btn  savoir_plus shadow lift mr-1">
        En savoir plus</a>
    </div>
  </div>
  <!-- Fin Landing  -->

  <!-- Waves  -->
  <div style="height: 150px; overflow: hidden;" class="svg_haut">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
      <path d="M0.00,49.98 C149.99,150.00 271.49,-49.98 500.00,49.98 L500.00,0.00 L0.00,0.00 Z" style="stroke: none;">
      </path>
    </svg>
  </div>
  <!-- Fin Waves  -->
</section>


<section class="second">

  <div class="container_first">
    <!-- Title  -->
    <div class="title container">
      .Présentation
    </div>
    <!-- Fin title  -->

    <div class="container presentation">
      <!-- haut  -->
      <div class="presentation_haut" data-aos="fade-right" data-aos-duration="3000">
        <div class="box_img">
          <img src="assets/teacher.svg">
        </div>
      </div>
      <!-- Fin haut  -->

      <!-- Bas  -->
      <div class="presentation_bas" data-aos="fade-left" data-aos-duration="2000">
        <div>
          <!-- Heading -->
          <span class="nom_prenom">Anais. S.</span>
          <h3 class="display-3 text-center text-md-left">
            <br>
            "Votre professeur de français"
          </h3>

          <!-- Text -->
          <p class="lead text-center text-md-left text-muted mb-6 mb-lg-8">
            Je vous propose des cours particuliers à distance de Français, Espagnol ou Portugais selon vos besoins
            (professionnels ou personnels).
            Je m'adapte à vos besoins et personnalise chaque cours selon votre niveau!
          </p>

          <!-- Buttons -->
          <div class="text-center text-md-center" data-aos="fade-right">
            <a href="overview.html" class="btn  contacter shadow lift mr-1">
              Me contacter</a>
          </div>
        </div>
      </div>
      <!-- Fin Bas  -->
    </div>
    <hr>
  </div>

</section>

<!-- Waves  -->
<div style="height: 150px; overflow: hidden;" class="bas">
  <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
    <path d="M0.00,49.98 C149.99,150.00 271.49,-49.98 500.00,49.98 L500.00,0.00 L0.00,0.00 Z" style="stroke: none;">
    </path>
  </svg>
</div>
<!-- Fin waves  -->


<section class="third">

  <!-- Title  -->
  <div class="title container">
    .Points forts
  </div>
  <!-- Fin title  -->

  <!-- skills  -->
  <div class="container skills">

    <div class="skill">
      <span class="material-icons">
        today
      </span>
      <h4>
        <span>+7</span>ans d'expériences</h4>
    </div>

    <div class="skill">
      <span class="material-icons">
        person_pin_circle
      </span>
      <h4><span>+14</span> ans à l'étranger</h4>
    </div>

    <div class="skill">
      <span class="material-icons">
        groups
      </span>
      <h4><span>+20</span> élèves</h4>
    </div>

  </div>
  <!-- Fin skills  -->

</section>

<section class="fourth bg_linear container">
  <h4> 
    Vous avez besoin de cours particuliers ?
  </h4>

  <!-- Buttons -->
  <div class="text-center text-md-center">
    <a href="overview.html" class="btn  contacter shadow lift mr-1">
      Me contacter</a>
  </div>
</section>

<!-- fin section as formation  -->