<!-- HEADER  -->
<header class="container-fluid">
  <nav class=" nav_header">

    <!-- Logo  -->
    <div class="logo" >
      <!-- <span class="nom_prenom">Anais. S.</span> -->
      <img src="assets/comS.jpg">
    </div>

    <!-- Icon menu  -->
    <div class="menu">
      <span class="material-icons" (click)="getShowMenu()">
        menu
      </span>
    </div>
  </nav>

  <!-- nav bar menu droit  -->
  <div class="menu_bar" [ngClass]="{'show': isShowMenu, 'fade_menu':!isShowMenu}">
    <div class="menu_close">
      <span class="material-icons" (click)="getShowMenu()">
        close
      </span>
    </div>
    <ul>
      <li>
        <!-- <a href="">
          <span class="nom_prenom">Anais. S.</span>
        </a> -->
      </li>
      <li>
        <a href="">Accueil</a>

      </li>
      <li>
        <a href="">Compétences</a>

      </li>
      <li>
        <a href="">Prix</a>

      </li>
      <li>
        <a href="">Testimonial</a>

      </li>
      <li>
        <a href="">Contact</a>

      </li>
    </ul>
  </div>
  <!-- fin nav bar menu droit -->
</header>
<!-- FIN HEADER  -->

<!-- section as formation -->

<section class="first">
  <!-- Landing  -->
  <div class="container">
    <div class="landing">
      <h1 data-aos="fade-left" data-aos-duration="3000">
        <span class="c_premier" >C</span>om'<span class="s_premier">S</span>orte
      </h1>
      <h3 data-aos="fade-right" data-aos-duration="1000">
        Votre institut de formation
      </h3>
      <p data-aos="fade-left" data-aos-duration="3000">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente distinctio quis dignissimos sint velit.
      </p>
  
      <!-- Buttons -->
      <div class="text-center text-md-center">
        <a href="overview.html" class="btn  savoir_plus shadow lift mr-1">
          En savoir plus</a>
      </div>

    </div>
  </div>
  <!-- Fin Landing  -->

  <!-- Waves  -->
  <div style="height: 150px; overflow: hidden;" class="svg_haut">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
      <path d="M0.00,49.98 C149.99,150.00 271.49,-49.98 500.00,49.98 L500.00,0.00 L0.00,0.00 Z" style="stroke: none;">
      </path>
    </svg>
  </div>
  <!-- Fin Waves  -->
</section>


<section class="second">

  <div class="container_first">
    <!-- Title  -->
    <div class="title container">
      <span>
        .Présentation
      </span>
    </div>
    <!-- Fin title  -->

    <div class="container presentation">
      <!-- haut  -->
      <div class="presentation_haut" data-aos="fade-right" data-aos-duration="3000">
        <div class="box_img">
          <img src="assets/teacher.svg">
        </div>
      </div>
      <!-- Fin haut  -->

      <!-- Bas  -->
      <div class="presentation_bas" data-aos="fade-left" data-aos-duration="2000">
        <div>
          <!-- Heading -->
          <span class="nom_prenom">Anais. S.</span>
          <h3 class="display-3 text-center text-md-left">
            <br>
            "Votre professeur de français"
          </h3>

          <!-- Text -->
          <p class="lead text-center text-md-left text-muted mb-6 mb-lg-8">
            Je vous propose des cours particuliers à distance de Français, Espagnol ou Portugais selon vos besoins
            (professionnels ou personnels).
            Je m'adapte à vos besoins et personnalise chaque cours selon votre niveau!
          </p>

          <!-- Buttons -->
          <div class="text-center text-md-center" data-aos="fade-right">
            <a href="overview.html" class="btn  contacter shadow lift mr-1">
              Me contacter</a>
          </div>
        </div>
      </div>
      <!-- Fin Bas  -->
    </div>
    <hr>
  </div>

</section>

<!-- Waves  -->
<div style="height: 150px; overflow: hidden;" class="bas">
  <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
    <path d="M0.00,49.98 C149.99,150.00 271.49,-49.98 500.00,49.98 L500.00,0.00 L0.00,0.00 Z" style="stroke: none;">
    </path>
  </svg>
</div>
<!-- Fin waves  -->


<section class="third">

  <!-- Title  -->
  <div class="title container">
    <span>
      .Points forts
    </span>

  </div>
  <!-- Fin title  -->

  <!-- skills  -->
  <div class="container skills">

    <div class="skill">
      <span class="material-icons">
        today
      </span>
      <h4>
        <span>+7</span>ans d'expériences</h4>
    </div>

    <div class="skill">
      <span class="material-icons">
        person_pin_circle
      </span>
      <h4><span>+14</span> ans à l'étranger</h4>
    </div>

    <div class="skill">
      <span class="material-icons">
        groups
      </span>
      <h4><span>+20</span> élèves de ≠ nationalités</h4>
    </div>

  </div>
  <!-- Fin skills  -->

</section>

<section class="fourth bg_linear container">
  <h4>
    Vous avez besoin de cours particuliers ?
  </h4>

  <!-- Buttons -->
  <div class="text-center text-md-center">
    <a href="overview.html" class="btn  contacter shadow lift mr-1">
      Me contacter</a>
  </div>
</section>

<section class="five">

  <div class="container_first">
    <!-- Title  -->
    <div class="title container">
      <span>
        .etc five
      </span>
    </div>
    <!-- Fin title  -->

  </div>

</section>


<section class="five price">

  <!-- Waves  -->
<div style="height: 150px; overflow: hidden;" class="svg_haut">
  <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
    <path d="M0.00,49.98 C149.99,150.00 271.49,-49.98 500.00,49.98 L500.00,0.00 L0.00,0.00 Z" style="stroke: none;">
    </path>
  </svg>
</div>
<!-- Fin waves  -->

  <div class="container_first">
    <!-- Title  -->
    <div class="title container">
      <span>
        .Nos tarifs
      </span>
    </div>
    <!-- Fin title  -->

  </div>

  <div class="price-one" id="pricing">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h2 class="title-price"> Choisissez votre formule </h2>
          <p class="text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non labore nostrum neque architecto laboriosam corrupti, laudantium commodi sed nisi, corporis amet temporibus officia autem odit. Quos exercitationem quas omnis temporibus.
          </p>
          <div class="tab-btn" id="tab-title">
            <a href="#etudiants" class="single " [ngClass]="{'active': isEtudiantActive, '':!isEtudiantActive}" (click)="clickEtudiantActive()"> Etudiants</a>
            <a href="#salaries" class="single  " [ngClass]="{'active': !isEtudiantActive, '':isEtudiantActive}" (click)="clickSalActive()"> Salariés </a>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="content" >
            <!-- Cours  -->
            <div class="one "  id="cours"  [ngClass]="{'active': isEtudiantActive, '':!isEtudiantActive}">
              <div class="inner">
                <div class="price">
                  <span class="amount">15</span>
                  <span class="currency">€</span>
                  
                  <span class="time">/heure</span>
                </div>

                <h3 class="name">
                  Etudiants
                </h3>
                <ul class="list">
                  <li class="item">2 fois par semaines</li>
                  <li class="item">Soutiens scolaires</li>
                  <li class="item">Stages de vacances</li>
                  <li class="item">Vidéo conférence</li>
                  <li class="item">Support 5j/7</li>
                </ul>

                <a href="" class="thm-btn">Choisissez</a>
              </div>
            </div>
            <!-- Fin cours -->

            <!-- Formations  -->
            <div class="one" id="formations" [ngClass]="{'active': !isEtudiantActive, '':isEtudiantActive}">
              <div class="inner">
                <div class="price">
                  <span class="amount">25</span>
                  <span class="currency">€</span>
                  
                  <span class="time">/heure</span>
                </div>

                <h3 class="name">
                  Salariés
                </h3>
                <ul class="list">
                  <li class="item">5 fois par semaines</li>
                  <li class="item">Cours de nuit</li>
                  <li class="item">Stages de vacances</li>
                  <li class="item">Vidéo conférence</li>
                  <li class="item">Support 5j/7</li>
                </ul>

                <a href="" class="thm-btn">Choisissez</a>
              </div>
            </div>
            <!-- Fin formations  -->


          </div>
        </div>

      </div>

    </div>

  </div>

</section>


<section class="six">

  <div class="container_first">
    <!-- Title  -->
    <div class="title container">
      <span>
        .Testimonial
      </span>
    </div>
    <!-- Fin title  -->

  </div>

</section>
<section class="seven">

  <div class="container_first">
    <!-- Title  -->
    <div class="title container">
      <span>
        .Contact
      </span>
    </div>
    <!-- Fin title  -->

  </div>

  <!-- debut -->

  <div class="container_contact">
    <div class="infos_personnelles container  ">


      <div class="form">
        <!-- contact  -->
        <div class="contact-info ">
        
          <h3 class="titre">Me contacter </h3>
          <div class="info_container">
            <div data-aos="fade-left" data-aos-duration="3000">
              <span class="material-icons">
                location_on
              </span>
              <p>
                Avenue &nbsp;Pierre Boulot
                <br />
                34090, Montpellier
              </p>
            </div>
            <div data-aos="fade-left" data-aos-duration="3000">
              <span class="material-icons">
                phone
              </span>
              <p>
                +33 (0)6 12 23 34 45
              </p>
            </div>
            <div class="contact" data-aos="fade-left" data-aos-duration="3000">
              <a href="mailto:mhatchi@yahoo.fr">
                <span class="material-icons">
                  mail
                </span>
              </a>
              <p>
                contact@comsorte.fr
              </p>
            </div>

          </div>
          <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg" class="tache" data-aos="fade-right" data-aos-duration="3000"> 
            <path fill="#862222" d="M40.1,-66.6C51.4,-62.8,59.8,-51.1,61.3,-38.7C62.7,-26.3,57.2,-13.1,57.5,0.2C57.8,13.5,63.9,26.9,62.1,38.7C60.3,50.5,50.6,60.7,38.9,62.2C27.2,63.7,13.6,56.7,-0.5,57.4C-14.5,58.2,-29.1,66.9,-38.1,63.8C-47.1,60.7,-50.5,46,-51.7,33.4C-52.9,20.8,-51.7,10.4,-52.9,-0.7C-54.2,-11.8,-57.7,-23.6,-54.8,-33.2C-51.9,-42.8,-42.6,-50.1,-32.4,-54.5C-22.1,-58.9,-11.1,-60.3,1.6,-63.2C14.3,-66,28.7,-70.3,40.1,-66.6Z" transform="translate(100 100)" />
          </svg>
          <img src="../assets/anais.png" data-aos="fade-right" data-aos-duration="3000">

          <!-- reseaux  -->

          <div class="reseaux_contact">
            <a href='https://www.linkedin.com/in/m-hatchi-bb4b49156/' title="Linkedin" target="_blank">
              <fa-icon class="linkedinin" [icon]="faLinkedinIn"></fa-icon>
            </a>
            <a href='https://github.com/objectifMH/' target="_blank" title="Github">
              <fa-icon class="github" [icon]="faGithub"></fa-icon>
            </a>
          </div>

          <!-- fin reseaux  -->

        </div>
        <!-- formulaire contact  -->
        <div class="contact-form">
          
          <form [formGroup]="contactForm">
            <h3 class="titre">Envoyez un message</h3>
            <div class="form-group  ">

              <input type="text" class="form-control" required formControlName="nom" id="nom" (blur)="onBlurMethod($event)"
                (focus)="onFocusMethod($event)"
                [ngClass]="{'errorForm': errorNom }"
                >
              <label for="">Nom</label>
              <span>
                Nom
              </span>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" required formControlName="mail" email="true" id="mail" (blur)="onBlurMethod($event)"
                (focus)="onFocusMethod($event)"
                [ngClass]="{'errorForm': errorMail }"
                >
              <label for="">Mail</label>
              <span>
                Mail
              </span>
            </div>
            <div class="form-group">
              <textarea formControlName="message" required id="message" (blur)="onBlurMethod($event)"
                (focus)="onFocusMethod($event)"
                [ngClass]="{'errorForm': errorMessage }"
                ></textarea>
              <label class="label_textarea" for="">Message</label>
              <span>
                Message
              </span>
            </div>

            <button type="submit" class="btn" (click)="onSubmit()">Envoyer</button>

          </form>
        </div>

      </div>
    </div>
  </div>

  <!-- fin -->

</section>


<!-- fin section as formation  -->