<!-- HEADER  -->
<header class="container-fluid">
  <nav class=" nav_header">

    <!-- Logo  -->
    <div class="logo">
      <!-- <span class="nom_prenom">Anais. S.</span> -->
      <img src="assets/comS.jpg">
    </div>

    <!-- Icon menu  -->
    <div class="menu">
      <span class="material-icons" (click)="getShowMenu()">
        menu
      </span>
    </div>
  </nav>

  <!-- nav bar menu droit  -->
  <div class="menu_bar" [ngClass]="{'show': isShowMenu, 'fade_menu':!isShowMenu}">
    <div class="menu_close">
      <span class="material-icons" (click)="getShowMenu()">
        close
      </span>
    </div>

    <ul>
      <li>
        <!-- <a href="">
          <span class="nom_prenom">Anais. S.</span>
        </a> -->
      </li>
      <li (mouseover)="onChangeMenu('Accueil')" (mouseleave)="onLeave()">
        <a href="" data-text="Accueil">Accueil</a>

      </li>
      <li (mouseover)="onChangeMenu('Compétences')" (mouseleave)="onLeave()">
        <a href="" data-text="Compétences">Compétences</a>

      </li>
      <li (mouseover)="onChangeMenu('Prix')" (mouseleave)="onLeave()">
        <a href="" data-text="Prix">Prix</a>

      </li>
      <li (mouseover)="onChangeMenu('Testimonial')" (mouseleave)="onLeave()">
        <a href="" data-text="Testimonial">Testimonial</a>

      </li>
      <li (mouseover)="onChangeMenu('Contact')" (mouseleave)="onLeave()">
        <a [routerLink]="['/main']" fragment="contacter" data-text="Contact">Contact</a>

      </li>
    </ul>

    <h4 [ngClass]="{'active': text_menu !== '', 'fade': text_menu === '' }">
      {{text_menu}}
    </h4>
  </div>
  <!-- fin nav bar menu droit -->
</header>
<!-- FIN HEADER  -->

<!-- CONTENT -->

<section class="first">
  <!-- Landing  -->
  <div class="container">
    <div class="landing">
      <h1 data-aos="fade-left" data-aos-duration="3000">
        <span class="c_premier">C</span>om'<span class="s_premier">S</span>orte
      </h1>
      <h3 data-aos="fade-right" data-aos-duration="1000">
        Votre institut de formation
      </h3>
      <p data-aos="fade-left" data-aos-duration="3000">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente distinctio quis dignissimos sint velit.
      </p>

      <!-- Buttons -->
      <div class="text-center text-md-center">
        <a [routerLink]="['/main']" fragment="faq" class="btn savoir_plus">
          En savoir plus</a>
      </div>

    </div>
  </div>
  <!-- Fin Landing  -->

  <!-- Waves  -->
  <div style="height: 150px; overflow: hidden;" class="svg_haut">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
      <path d="M0.00,49.98 C149.99,150.00 271.49,-49.98 500.00,49.98 L500.00,0.00 L0.00,0.00 Z" style="stroke: none;">
      </path>
    </svg>
  </div>
  <!-- Fin Waves  -->

  <span class="material-icons down">
    keyboard_arrow_down
  </span>
</section>

<section class="second">

  <div class="container_first">
    <!-- Title  -->
    <div class="title container">
      <span>
        .Présentation
      </span>
    </div>
    <!-- Fin title  -->

    <div class="container presentation">
      <!-- haut  -->
      <div class="presentation_haut" data-aos="fade-right" data-aos-duration="3000">
        <div class="box_img">
          <img src="assets/teacher.svg">
        </div>
      </div>
      <!-- Fin haut  -->

      <!-- Bas  -->
      <div class="presentation_bas" data-aos="fade-left" data-aos-duration="2000">
        <div>
          <!-- Heading -->
          <span class="nom_prenom">Anais. S.</span>
          <h3 class="display-3 text-center text-md-left">
            <br>
            "Votre professeur de français"
          </h3>

          <!-- Text -->
          <p class="lead text-center text-md-left text-muted mb-6 mb-lg-8">
            Je vous propose des cours particuliers à distance de Français, Espagnol ou Portugais selon vos besoins
            (professionnels ou personnels).
            Je m'adapte à vos besoins et personnalise chaque cours selon votre niveau!
          </p>

          <!-- Buttons -->
          <div class="text-center text-md-center" data-aos="fade-right">
            <a href="overview.html" class="btn  contacter shadow lift mr-1">
              Me contacter</a>
          </div>
        </div>


      </div>
      <!-- Fin Bas  -->
    </div>

    <hr>

    <div class="container drapeaux">
      <div class="drapeau">
        <div>

          <div class="c-flag c-flag__fra"></div>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quaerat debitis accusamus ad saepe neque nisi
          corrupti pariatur modi cupiditate! Dolorum est dolorem, quaerat nemo eveniet quibusdam voluptates nisi
          accusamus?
        </p>
      </div>
      <div class="drapeau">
        <div>

          <div class="c-flag c-flag__bra"></div>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quaerat debitis accusamus ad saepe neque nisi
          corrupti pariatur modi cupiditate! Dolorum est dolorem, quaerat nemo eveniet quibusdam voluptates nisi
          accusamus?
        </p>
      </div>
      <div class="drapeau">
        <div>


          <div class="c-flag c-flag__eng"></div>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quaerat debitis accusamus ad saepe neque nisi
          corrupti pariatur modi cupiditate! Dolorum est dolorem, quaerat nemo eveniet quibusdam voluptates nisi
          accusamus?
        </p>
      </div>

      <!-- <div class="drapeau">
        <div>


          <img src="assets/ES-espagne.png" class="c-flag__esp">
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quaerat debitis accusamus ad saepe neque nisi
          corrupti pariatur modi cupiditate! Dolorum est dolorem, quaerat nemo eveniet quibusdam voluptates nisi
          accusamus?
        </p>
      </div> -->



    </div>
  </div>

</section>

<!-- Waves  -->
<div style="height: 150px; overflow: hidden;" class="bas">
  <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
    <path d="M0.00,49.98 C149.99,150.00 271.49,-49.98 500.00,49.98 L500.00,0.00 L0.00,0.00 Z" style="stroke: none;">
    </path>
  </svg>
</div>
<!-- Fin waves  -->

<section class="third">

  <!-- Title  -->
  <div class="title container">
    <span>
      .Points forts
    </span>

  </div>
  <!-- Fin title  -->

  <!-- skills  -->
  <div class="container skills">

    <div class="skill">
      <span class="circle un" data-aos="zoom-in-up" data-aos-duration="4000"></span>
      <span class="circle quatre" data-aos="zoom-in-up" data-aos-duration="4000"></span>
      <span class="material-icons icon ">
        today
      </span>
      <h4>
        <span class="text_number">+7</span>ans d'expériences</h4>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga, ab veniam, sunt inventore error consequuntur
        neque rerum amet ratione, reiciendis cum nemo sapiente laboriosam nobis minus! Sint ut est doloremque.
      </p>
    </div>

    <div class="skill">

      <span class="circle deux" data-aos="zoom-in-up" data-aos-duration="3000"></span>
      <span class="circle cinq" data-aos="zoom-in-up" data-aos-duration="3000"></span>
      <span class="material-icons icon">
        person_pin_circle
      </span>
      <h4><span class="text_number">+14</span> ans à l'étranger</h4>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga, ab veniam, sunt inventore error consequuntur
        neque rerum amet ratione, reiciendis cum nemo sapiente laboriosam nobis minus! Sint ut est doloremque.
      </p>
    </div>

    <div class="skill">

      <span class="circle trois" data-aos="zoom-in-up" data-aos-duration="2000"></span>
      <span class="circle quatre" data-aos="zoom-in-up" data-aos-duration="3000"></span>
      <span class="material-icons icon">
        groups
      </span>
      <h4><span class="text_number">+20</span> élèves de ≠ nationalités</h4>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga, ab veniam, sunt inventore error consequuntur
        neque rerum amet ratione, reiciendis cum nemo sapiente laboriosam nobis minus! Sint ut est doloremque.
      </p>
    </div>

  </div>
  <!-- Fin skills  -->

</section>

<section class="fourth bg_linear container">
  <h4>
    Vous avez besoin de cours particuliers ? Etudiants ? Salariés ?
  </h4>

  <!-- Buttons -->
  <div class="text-center text-md-center">
    <a [routerLink]="['/main']" fragment="contacter" class="btn  contacter shadow lift mr-1">
      Me contacter</a>
  </div>
</section>

<section class="five faq" id="faq">

  <div class="container_first">
    <!-- Title  -->
    <div class="title container">
      <span>
        .Foire aux questions
      </span>
    </div>
    <!-- Fin title  -->
  </div>
  <p class="container text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem laudantium exercitationem suscipit. Eveniet nemo doloribus fugiat, dolorem esse pariatur quaerat facilis sapiente sit voluptatum voluptatibus. Fuga animi nesciunt sequi ad!
  </p>

  <div class="container faq">
    <!-- haut  -->
    <div class="faq_haut" data-aos="fade-right" data-aos-duration="3000">
      <div class="box_img">
        <img src="assets/faq_b.svg">
      </div>
    </div>
    <!-- Fin haut  -->

    <!-- Bas  -->
    <div class="faq_bas" data-aos="fade-left" data-aos-duration="2000">

      <!-- question 1 -->
      <div class="question">
        <input type="checkbox" id="sidebar-toggle1">

        <div class="accordion">
          <h5>Question 1 </h5>

          <label for="sidebar-toggle1">
            <span class="material-icons icon">
            </span>
          </label>
        </div>

        <div class="panel">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est repellat nam ab dolorem architecto sit
            excepturi, fugit tempora, voluptatem ipsum cumque nulla ea commodi amet, temporibus natus error ratione
            veniam?
          </p>
        </div>

      </div>
      <!-- Fin question 1  -->

      <!-- question 2 -->
      <div class="question">
        <input type="checkbox" id="sidebar-toggle2">

        <div class="accordion">
          <h5>Lorem, ipsum doorum repellat. Reiciendis, iure sunt. </h5>

          <label for="sidebar-toggle2">
            <span class="material-icons icon">
            </span>
          </label>
        </div>

        <div class="panel">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est repellat nam ab dolorem architecto sit
            excepturi
          </p>
        </div>

      </div>
      <!-- Fin question 2  -->

      <!-- question 3 -->
      <div class="question">
        <input type="checkbox" id="sidebar-toggle3">

        <div class="accordion">
          <h5>Question 3 </h5>

          <label for="sidebar-toggle3">
            <span class="material-icons icon">
            </span>
          </label>
        </div>

        <div class="panel">
          <p>
            Lorem ipsum dolor sit amet
          </p>
        </div>

      </div>
      <!-- Fin question 3  -->

      <!-- question 4 -->
      <div class="question">
        <input type="checkbox" id="sidebar-toggle4">

        <div class="accordion">
          <h5>Question 4 </h5>

          <label for="sidebar-toggle4">
            <span class="material-icons icon">
            </span>
          </label>
        </div>

        <div class="panel">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est repellat nam ab dolorem architecto sit
            excepturi, fugit tempora, voluptatem ipsum cumque nulla ea commodi amet, temporibus natus error ratione
            veniam?
          </p>
        </div>

      </div>
      <!-- Fin question 4 -->


    </div>
    <!-- Fin Bas  -->
  </div>



</section>

<section class="five price">

  <!-- Waves  -->
  <div style="height: 150px; overflow: hidden;" class="svg_haut">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
      <path d="M0.00,49.98 C149.99,150.00 271.49,-49.98 500.00,49.98 L500.00,0.00 L0.00,0.00 Z" style="stroke: none;">
      </path>
    </svg>
  </div>
  <!-- Fin waves  -->

  <div class="container_first">
    <!-- Title  -->
    <div class="title container">
      <span>
        .Nos tarifs
      </span>
    </div>
    <!-- Fin title  -->

  </div>

  <div class="price-one" id="pricing">
    <div class="container">
      <div class="row">
        <div class="col-lg-6" data-aos="fade-up" data-aos-duration="2000">
          <h2 class="title-price"> Choisissez votre formule </h2>
          <p class="text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non labore nostrum neque architecto laboriosam
            corrupti, laudantium commodi sed nisi, corporis amet temporibus officia autem odit. Quos exercitationem quas
            omnis temporibus.
          </p>
          <div class="tab-btn" id="tab-title">
            <div class="single " [ngClass]="{'active': isEtudiantActive, '':!isEtudiantActive}"
              (click)="clickEtudiantActive()"> Etudiants</div>
            <div class="single  " [ngClass]="{'active': !isEtudiantActive, '':isEtudiantActive}"
              (click)="clickSalActive()"> Salariés </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="content">
            <!-- Cours  -->
            <div class="one " id="cours" [ngClass]="{'active': isEtudiantActive, '':!isEtudiantActive}">
              <div class="inner" data-aos="fade-left" data-aos-duration="3000">
                <div class="prix">
                  <span class="amount">15</span>
                  <span class="currency">€</span>

                  <span class="time">/heure</span>
                </div>

                <h3 class="name">
                  Etudiants
                </h3>
                <ul class="list">
                  <li class="item">2 fois par semaines</li>
                  <li class="item">Soutiens scolaires</li>
                  <li class="item">Stages de vacances</li>
                  <li class="item">Vidéo conférence</li>
                  <li class="item">Support 5j/7</li>
                </ul>

                <a href="" class="thm-btn">Choisissez</a>
              </div>
            </div>
            <!-- Fin cours -->

            <!-- Formations  -->
            <div class="one" id="formations" [ngClass]="{'active': !isEtudiantActive, '':isEtudiantActive}">
              <div class="inner" data-aos="fade-right" data-aos-duration="3000">
                <div class="prix">
                  <span class="amount">25</span>
                  <span class="currency">€</span>

                  <span class="time">/heure</span>
                </div>

                <h3 class="name">
                  Salariés
                </h3>
                <ul class="list">
                  <li class="item">5 fois par semaines</li>
                  <li class="item">Cours de nuit</li>
                  <li class="item">Stages de vacances</li>
                  <li class="item">Vidéo conférence</li>
                  <li class="item">Support 5j/7</li>
                </ul>

                <a href="" class="thm-btn">Choisissez</a>
              </div>
            </div>
            <!-- Fin formations  -->


          </div>
        </div>

      </div>

    </div>

  </div>

</section>

<section class="six testimonial">
  <!-- Waves  -->
  <div style="height: 150px; overflow: hidden;" class="svg_haut">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
      <path d="M0.00,49.98 C149.99,150.00 271.49,-49.98 500.00,49.98 L500.00,0.00 L0.00,0.00 Z" style="stroke: none;">
      </path>
    </svg>
  </div>
  <!-- Fin waves  -->

  <!-- <img src="assets/comsorte1.svg"> -->

  <div class="container_first">
    <!-- Title  -->
    <div class="title container">
      <!-- <span>
        .Testimonial
      </span> -->
    </div>
    <!-- Fin title  -->

  </div>

  <h2 class="container">
    Témoignages de mes élèves :
  </h2>
  <div class="testimonial container ">


    <owl-carousel-o [options]="customOptions_testimonial">
      <ng-template carouselSlide>
        <div class="box_text">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis vero eum optio deleniti soluta labore
            tempora provident, voluptatibus dolor expedita, et est.
          </p>
          <span class="nom">Lise</span>
          <span class="prenom">nabs</span>

        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="box_text">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis vero eum optio deleniti soluta labore
            tempora provident, voluptatibus dolor expedita, et est.
          </p>
          <span class="nom">Noemie</span>
          <span class="prenom">BigChill</span>

        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="box_text">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis vero eum optio deleniti soluta labore
            tempora provident, voluptatibus dolor expedita, et est.
          </p>
          <span class="nom">Emi</span>
          <span class="prenom">Ennexy</span>

        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="box_text">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis vero eum optio deleniti soluta labore
            tempora provident, voluptatibus dolor expedita, et est.
          </p>
          <span class="nom">Celia</span>
          <span class="prenom">DaSoeurette</span>

        </div>
      </ng-template>
    </owl-carousel-o>






  </div>
  <!-- Waves  -->
  <div style="height: 150px; overflow: hidden;" class="svg_bas">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
      <path d="M0.00,49.98 C149.99,150.00 271.49,-49.98 500.00,49.98 L500.00,0.00 L0.00,0.00 Z" style="stroke: none;">
      </path>
    </svg>
  </div>
  <!-- Fin waves  -->

</section>

<section class="seven" id="contacter">
  <div class="container_first">
    <!-- Title  -->
    <div class="title container">
      <span>
        Contact.
      </span>
    </div>
    <!-- Fin title  -->

  </div>

  <!-- debut -->

  <div class="container_contact">
    <div class="infos_personnelles container  ">


      <div class="form">
        <!-- contact  -->
        <div class="contact-info ">

          <h3 class="titre">Me contacter </h3>
          <div class="info_container">
            <div data-aos="fade-left" data-aos-duration="3000">
              <span class="material-icons location">
                location_on
              </span>
              <p>
                Avenue &nbsp;Pierre Boulot
                <br />
                34090, Montpellier
              </p>
            </div>
            <div data-aos="fade-left" data-aos-duration="3000">
              <span class="material-icons phone">
                phone
              </span>
              <p>
                +33 (0)6 12 23 34 45
              </p>
            </div>
            <div class="contact" data-aos="fade-left" data-aos-duration="3000">
              <a href="mailto:mhatchi@yahoo.fr">
                <span class="material-icons mail">
                  mail
                </span>
              </a>
              <p>
                contact@comsorte.fr
              </p>
            </div>

          </div>
          <!-- <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg" class="tache" data-aos="fade-right"
            data-aos-duration="3000">
            <path fill="#862222"
              d="M40.1,-66.6C51.4,-62.8,59.8,-51.1,61.3,-38.7C62.7,-26.3,57.2,-13.1,57.5,0.2C57.8,13.5,63.9,26.9,62.1,38.7C60.3,50.5,50.6,60.7,38.9,62.2C27.2,63.7,13.6,56.7,-0.5,57.4C-14.5,58.2,-29.1,66.9,-38.1,63.8C-47.1,60.7,-50.5,46,-51.7,33.4C-52.9,20.8,-51.7,10.4,-52.9,-0.7C-54.2,-11.8,-57.7,-23.6,-54.8,-33.2C-51.9,-42.8,-42.6,-50.1,-32.4,-54.5C-22.1,-58.9,-11.1,-60.3,1.6,-63.2C14.3,-66,28.7,-70.3,40.1,-66.6Z"
              transform="translate(100 100)" />
          </svg> -->

          <div class="circle_img">

          </div>
          <img src="assets/anais.png" data-aos="fade-right" data-aos-duration="3000">

          <!-- reseaux  -->

          <div class="reseaux_contact">
            <a href='https://www.linkedin.com/in/m-hatchi-bb4b49156/' title="Linkedin" target="_blank">
              <fa-icon class="linkedinin" [icon]="faLinkedinIn"></fa-icon>
            </a>
            <a href='https://github.com/objectifMH/' target="_blank" title="Github">
              <fa-icon class="github" [icon]="faGithub"></fa-icon>
            </a>
          </div>

          <!-- fin reseaux  -->

        </div>
        <!-- formulaire contact  -->
        <div class="contact-form">

          <form [formGroup]="contactForm">
            <h3 class="titre">Envoyez un message</h3>
            <div class="form-group  ">

              <input type="text" class="form-control" required formControlName="nom" id="nom"
                (blur)="onBlurMethod($event)" (focus)="onFocusMethod($event)" [ngClass]="{'errorForm': errorNom }">
              <label for="">Nom</label>
              <span>
                Nom
              </span>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" required formControlName="mail" email="true" id="mail"
                (blur)="onBlurMethod($event)" (focus)="onFocusMethod($event)" [ngClass]="{'errorForm': errorMail }">
              <label for="">Mail</label>
              <span>
                Mail
              </span>
            </div>
            <div class="form-group">
              <textarea formControlName="message" required id="message" (blur)="onBlurMethod($event)"
                (focus)="onFocusMethod($event)" [ngClass]="{'errorForm': errorMessage }"></textarea>
              <label class="label_textarea" for="">Message</label>
              <span>
                Message
              </span>
            </div>

            <button type="submit" class="btn" (click)="onSubmit()">Envoyer</button>

          </form>
        </div>

      </div>
    </div>
  </div>

  <!-- fin -->

</section>

<!-- FIN CONTENT  -->

<footer>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#862222" fill-opacity="1" d="M0,224L120,197.3C240,171,480,117,720,117.3C960,117,1200,171,1320,197.3L1440,224L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
  </svg>
  <div>
    <h5>
      © Com'Sorte, <span>Tous droits réservés - 2020</span>
    </h5>
  </div>

</footer>